{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended"],
  "env": {
    "browser": true,
    "es2021": true
  },
//  "compilerOptions": {
//    "module": "commonjs",
//    "target": "es6",
//    "experimentalDecorators": true
//  },
//  "exclude": [
//    "node_modules"
//  ],
  "parserOptions": {
    "ecmaVersion": 12,
    "sourceType": "module",
    "ecmaFeatures": {
      "legacyDecorators": true
    }
  }
}
